/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --colorNeutralText: #dfdfdf;
  --colorNeutralTextWeak: #949494;
  --colorNeutralTextDisabled: #737373;
  --colorNeutralTextInverted: #000000;
  --colorNeutralBackground: #000000;
  --colorNeutralBackgroundMedium: #080808;
  --colorNeutralBackgroundStrong: #171717;
  --colorNeutralBackgroundDisabled: #080808;
  --colorNeutralBorder: #949494;
  --colorNeutralBorderWeak: #171717;
  --colorNeutralBorderHover: #dfdfdf;
  --colorPrimaryTextHover: #fdc9a6;
  --colorPrimaryTextActive: #fdd8be;
  --colorPrimaryText: #fba26f;
  --colorPrimaryTextWeak: #373737;
  --colorPrimaryTextWeakHover: #321c0d;
  --colorPrimaryTextWeakActive: #643819;
  --colorPrimaryTextStrong: #fdc9a6;
  --colorPrimaryTextStrongHover: #fed8be;
  --colorPrimaryTextStrongActive: #fee7d7;
  --colorPrimaryBackground: #321c0d;
  --colorPrimaryBackgroundHover: #643819;
  --colorPrimaryBackgroundActive: #965326;
  --colorPrimaryBackgroundWeak: #000000;
  --colorPrimaryBackgroundWeakHover: #321c0d;
  --colorPrimaryBackgroundWeakActive: #643819;
  --colorPrimaryBackgroundStrong: #fba265;
  --colorPrimaryBackgroundStrongHover: #fcb98c;
  --colorPrimaryBackgroundStrongActive: #fdd1b2;
  --colorPrimaryBorder: #ffff00;
  --colorPrimaryBorderHover: #fcb98c;
  --colorPrimaryBorderActive: #fdd1b2;
  --colorDangerText: #c34648;
  --colorDangerTextHover: #b53b3d;
  --colorDangerTextActive: #a23436;
  --colorDangerTextWeak: #ffffff;
  --colorDangerTextWeakHover: #ffe1e2;
  --colorDangerTextWeakActive: #ffc4c5;
  --colorDangerTextStrong: #a83335;
  --colorDangerTextStrongHover: #952d2f;
  --colorDangerTextStrongActive: #812729;
  --colorDangerBackground: #ffe1e2;
  --colorDangerBackgroundHover: #ffc4c5;
  --colorDangerBackgroundActive: #ffa7a9;
  --colorDangerBackgroundWeak: #ffffff;
  --colorDangerBackgroundWeakHover: #ffe1e2;
  --colorDangerBackgroundWeakActive: #ffc4c5;
  --colorSuccessText: #39812c;
  --colorSuccessTextHover: #316e26;
  --colorSuccessTextActive: #285b1f;
  --colorSuccessTextWeak: #ffffff;
  --colorSuccessTextWeakHover: #ddf2d9;
  --colorSuccessTextWeakActive: #ccebc6;
  --colorSuccessTextStrong: #316e26;
  --colorSuccessTextStrongHover: #295b1f;
  --colorSuccessTextStrongActive: #204819;
  --colorSuccessBackground: #ddf2d9;
  --colorDangerBackgroundStrong: #c34648;
  --colorDangerBackgroundStrongHover: #b53b3d;
  --colorDangerBackgroundStrongActive: #a23436;
  --colorDangerBorder: #c34648;
  --colorSuccessBackgroundHover: #ccebc6;
  --colorDangerBorderHover: #b53b3d;
  --colorSuccessBackgroundActive: #bbe5b3;
  --colorDangerBorderActive: #a23436;
  --colorSuccessBackgroundWeak: #ffffff;
  --colorSuccessBackgroundWeakHover: #ddf2d9;
  --colorSuccessBackgroundWeakActive: #ccebc6;
  --colorSuccessBackgroundStrong: #39812c;
  --colorSuccessBackgroundStrongHover: #316e26;
  --colorSuccessBackgroundStrongActive: #285b1f;
  --colorWarningText: #af4a0e;
  --colorWarningTextHover: #80360a;
  --colorWarningTextActive: #682c08;
  --colorWarningTextWeak: #ffffff;
  --colorWarningTextWeakHover: #fce6d9;
  --colorWarningTextWeakActive: #f8c7aa;
  --colorSuccessBorder: #39812c;
  --colorWarningTextStrong: #80360a;
  --colorWarningTextStrongHover: #682c08;
  --colorWarningTextStrongActive: #502206;
  --colorWarningBackground: #fce6d9;
  --colorSuccessBorderHover: #316e26;
  --colorWarningBackgroundHover: #f8c7aa;
  --colorSuccessBorderActive: #285b1f;
  --colorWarningBackgroundActive: #f4a87b;
  --colorWarningBackgroundWeak: #ffffff;
  --colorAssistiveText: #ffffff;
  --colorWarningBackgroundWeakHover: #fce6d9;
  --colorWarningBackgroundWeakActive: #f8c7aa;
  --colorAssistiveBackground: #050d15;
  --colorWarningBackgroundStrong: #af4a0e;
  --colorWarningBackgroundStrongHover: #97400c;
  --colorWarningBackgroundStrongActive: #502206;
  --colorWarningBorder: #af4a0e;
  --colorAssistiveBorder: #797979;
  --colorWarningBorderHover: #97400c;
  --colorWarningBorderActive: #502206;
  --colorBrandingCoral: #ff6d70;
  --colorNeutralBorderDisabled: #595959;
  --colorNeutralBorderWeakHover: #949494;
  --colorAssistiveBorderFocus: #6664d1;
  --colorChartsNeutral: #363636;
  --colorChartsPositive: #39812c;
  --colorChartsNegative: #c34648;
  --colorBrandingStitch: #ffcc00;
  --colorAliasColor: var(--colorSuccessText);
}